<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id        = "com.hostbdc.delivery.bdc"
    versionCode = "3"
    version   = "1.2">
    <name>DELIVERY BDC</name>
    <description>
        Delivery-BDC de Barra do Corda-MA
    </description>
    <author email="central@hostbdc.com.br" href="http://cordova.io">
        delivery.shopbdc.com.br
    </author>
    <icon src="icon.png" />           
    <content src="index.html" />
               
   <preference name="orientation" value="portrait" />
    <preference name="android-build-tool" value="gradle" />    
    <preference name="phonegap-version" value="cli-6.5.0" />
        
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" />
    <gap:plugin name="com.paypal.cordova.mobilesdk" source="npm"  />                
    <gap:plugin name="cordova-plugin-device" source="npm" />        
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />        
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />    
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
        
    <gap:plugin name="cordova-plugin-request-location-accuracy" source="npm" />    
    <gap:plugin name="cordova-plugin-x-toast" source="npm" />    

    <gap:plugin name="cordova-plugin-fastrde-checkgps" source="npm" />
    <gap:plugin spec="https://github.com/rodrigo-martinezd/cordova-dialog-gps.git" source="git" />   
        
    <gap:plugin name="cordova-plugin-googlemaps"  source="npm" spec="1.3.9" >
       <param name="API_KEY_FOR_ANDROID" value="AIzaSyBiIj-eBTMue_khle3ZdC49SzjbskkaKaw" />
       <param name="API_KEY_FOR_IOS" value="" />
    </gap:plugin>
    
    <gap:splash src="splash.png" />
    <preference name="AutoHideSplashScreen" value="false" />      
    <preference name="SplashScreenDelay" value="10000" />    
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion" value="16" />     
    
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
       
    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >            
        </application>        
    </gap:config-file>    
    
</widget>
