.wrapper{
border:0px solid red;
padding:8px;
}

.wrapper-white{
background:#fff;
padding:15px 8px;
}

.center{
text-align:center;
}
.field-section{
padding:8px;
}
.home-header,
.orange-header
{
max-width:100%;
background:#f75d34;
color:#fff;
padding-top:10px;
padding-bottom:15px;
}
.orange-header{
padding-left:8px;
padding-right:8px;
}

.home-header img,
.full-image
{
display:block;
margin:auto;
max-width:70%;
}
.navigation-bar{
background:#f75d34;
color:#fff;
border:none;
}

.white,
.toolbar-button,
.ons-back-button__icon,
.restauran-title.white
{
color:#fff;
}

.green,
.icon-green,
.myfa-check
{
color:#00B279;
}


.button.green-btn{
background:#00B279;
}

.button.blue-btn{
background:#3B5998;
}

.button.grey-btn{
background:#585b6e;
}


.pad20{
padding:20px;
}

.pad25{
padding:25px;
}

.padtop25{
padding-top:25px;
padding-bottom:25px;
}

.tab-bar{
/*background:#00B279;*/
background:#009688;
}
.clear{
clear:both;
}
.search-btn{
position:absolute;
top:7px;;
right:15px;
}

.home-page,
.filter-options
{
z-index:10;
position:relative;
}

/** menu backround */
.page--menu-page__background {
/*background-color: #333;
color: white;*/
/*background-color:#363535; color:#868686;*/
background-color:#F2F2F3;
color:#333;
}

.main-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item
{
/*border-color: #393939;*/
/*border-color:#4C4C4C;
color: #acacab;*/

border-color:#DFDFE0;
color: #333;

background-color: transparent;
background-image: none !important;
font-size:15px;
}
.bottom-menu-item span{
padding-left:10px;
}
.right{
float:right;
}

.text-right{
text-align:right;
}

.filter-options span,
.filter-options .checkbox,
.location-options .radio-button,
#status-list .radio-button
{
color:#666;
}

.results-header{
background:#00B279;
color:#fff;
text-align:center;
padding-top:6px;
padding-bottom:6px;
font-size:14px;
z-index:11;
}

.arrow_box { position: relative; background: #00B279; } .arrow_box:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 178, 121, 0); border-top-color: #00B279; border-width: 8px; margin-left: -8px; }

.modal{
background:rgba(255, 255, 255, 0.1);
}
.modal__content{
color:#666;
}

#search-text,
.concat-text
{
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display:block;
}
.restaurant-list .logo-wrap,
.restaurant-list .logo-wrap2,
.logo-wrap
{
height: 80px;
width: 80px;
display:block;
margin:auto;
background:#fff;
}

.logo-wrap.logo-non-auto{
float:left;
}

.logo-wrap img,
.logo-wrap2 img
{
max-width:100%;
margin:auto;
display:block;
}

.restaurant-list .row,
.review-list .row,
.list-header
{
padding-top:8px;
padding-bottom:8px;
}
.restaurant-list p,
#page-itemdisplay p.description,
.onsen-display p.description,
.small-font-dim,
#page-receipt .wrapper p,
#page-merchantinfo .wrapper p,
address,
.list-dim-text .list__item,
#page-booking-ty .wrapper p,
.settings-list
{
line-height:1;
font-size:14px;
color:#666;
margin:8px 0;
font-style:normal;
}

.small-font-dim-smaller,
.small-font-dim.small-font-dim-smaller
{
font-size:12px;
}

.col-image,
.col-description
{
line-height:normal;
}
.restauran-title,
.restaurant-list .restauran-title,
.title,
.total,
.total_value,
#page-merchantinfo h3,
#page-merchantinfo h5,
#page-prelogin h4,
#page-orders .col-orders,
#page-login h4
{
font-weight:normal;
color:#262626;
margin:0;
font-size:18px;
}

#page-merchantinfo h5{
font-size:17px;
margin:5px 0 8px;
}

.total_value{
font-size:20px;
font-weight:bold;
}

.p-small,
.restaurant-list p.p-small
{
font-size:12px;
}
.bold{
font-weight:800;
}
.border-left{
border-left:1px solid #666;
padding-left:8px;
}

.restaurant-list .list-item-container:nth-child(even){
/*background:#F7F7F7;*/
}
.notification.open{
background:#00B279;
}

#category-list .row{
color:#262626;
font-size:18px;
}

.list-header
{
font-weight:normal;
color:#666;
margin:0;
font-size:17px;
}

.text-right{
text-align:right;
}
#menu-list price,
price,
.status
{
font-weight:bold;
color:#262626;
font-size:13px;
}
.item-header{
height:170px;
background:#fff;
background-repeat: no-repeat !important;
background-size: contain !important;
background-position:center !important;
}

#page-itemdisplay .title{
border-bottom:1px solid #DDDDDD;
padding-bottom: 8px;
padding-top: 8px;
}
#page-itemdisplay .title{
font-size:21px;
}

#page-itemdisplay price,
.onsen-display price,
.view-location
{
font-size:14px;
}

.grey-border-top{
border-top:1px solid #DDDDDD;
}
.grey-border-top2{
border-top:2px solid #DDDDDD;
}
.grey-border-bottom{
border-bottom:1px solid #DDDDDD;
}

#page-itemdisplay .grey-border-bottom{
border-bottom:2px solid #00B279;
}
#page-itemdisplay .qty{
width:100%;
}

#page-itemdisplay p.description.item-name,
.onsen-display p.description.item-name
{
display:inline;
}

#page-itemdisplay .list-header,
.onsen-display .list-header
{
padding-top:5px;
padding-bottom:5px;
}

#page-itemdisplay .radio-button__checkmark,
.onsen-display .radio-button__checkmark,
#page-locations .radio-button__checkmark,
#page-languageoptions .radio-button__checkmark,
#status-list .radio-button__checkmark
{
border:1px solid #ddd;
}

.quantity-center{
margin-top: 7px;
text-align: right;
color:#666;
padding-right:8px;
}
.text-left{
text-align:left;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}
.cart-total-wrap{
margin-top:25px;
}

.cart
{
font-size:30px;
}

.cart-num,
#page-cart .numeric_only,
#page-cart .qty,
.order-apply-changes,
.row-del-wrap,
.order-change-wrapper,
.payon-delivery-wrapper,
.logout-menu,
.delete-addressbook,
.select-addressbook,
.page-login-fb,
.voucher-wrap,
.remove-voucher,
.actions-1,
.actions-2,
.booking-action,
.actions-3,
.actions-4,
.notification-count
{
display:none;
}

.text-big,
#page-merchantinfo h3
{
font-size:20px;
}

.total-amount{
margin:auto;
}
#page-cart .text-big,
#page-checkoutsignup .text-big,
#page-shipping .text-big,
#page-paymentoption .text-big,
{
margin-top:7px;
}

.onsen-display .row-no-border,
.row-no-border
{
border:none;
}
.small-input{
width:60px;
}

#cart-item .line-separator{
border-bottom:none;
line-height: 10px;
min-height: 10px;
}

.delete-item{
background:#DEDEDE;
color: #FFFFFF;
font-size: 15px;
font-weight: normal;
line-height: 20px;
padding: 4px 8px;
}

.price-normal price{
font-weight:normal;
}
.small-red-text{
color:#FF0000;
font-size:12px;
margin:5px 10px;
}

.delivery_date,
.delivery_time,
.field-wrapper input,
.field-wrapper email,
.field-wrapper password,
.order_notes,
.field-wrapper textarea
{
width:100%;
}

.field-wrapper textarea
{
min-height:60px;
}

.field-wrapper{
padding:8px 0;
}

.help-block.form-error{
color: #FF0000;
display: block;
font-size: 12px;
text-align: right;
}

.cod{
color:#05A183;
}
.pyr{
color:#333476;
}
.paypal{
color:#009CDE;
}

#page-paymentoption .logo-wrap{
height:auto;
width:50px;
margin-right:0;
}

.myfa-check{
font-size:100px;
}

price.discount,
#menu-list price.discount
{
color:#D4232B;
margin-right:5px;
text-decoration:line-through;
}
.checkout-icon{
font-size:40px;
}

.list-dim-text .list__item{
line-height:normal;
min-height: inherit;
padding-bottom: 5px;
padding-top: 5px;
}

#merchant-map,
#map_canvas,
#location-map
{
width:100%;
min-height:520px;
}

.review-list .icon-user{
font-size:50px;
color:#666;
}
#page-orders .col-order-stats{
}
#page-orders .col-order-stats .notification{
vertical-align:middle;
font-size:14px;
display:inline-block;
}

#page-orders .col-orders{
font-size:14px;
}

#page-addressbook-details .small-font-dim{
display:inline-block;
}
.loading-screen{
height: 100%;
position: absolute;
top: 0;
width: 100%;
background:#101317;
}

.loading-screen .inner{
color: #FFFFFF;
font-family: arial;
margin-top: 25%;
position: relative;
text-align: center;
}

.padding-left10{
padding-left:10px;
}

.padding-left5{
padding-left:5px;
}

.pad-top10{
padding-top:10px;
}

.pad-top20{
padding-top:20px;
}

.settings-header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
  margin-bottom: -4px;
}
.settings-list {
  margin-top: 10px;
}

.switch-wrapper{
border:1px solid red;
}

.no-connection {
text-align:center;
padding-top:60px;
display:none;
}

.no-connection #ion-wifi{
color:#ddd;
font-size:100px;
}
.no-connection p{
color:#666;
font-size:20px;
margin-bottom:10px;
margin-top:5px;
}

.delivery-icon{
position:relative;
}

.new-tag{
background: #f75d34 none repeat scroll 0 0;
color: #fff;
font-family: arial;
font-size: 11px;
padding: 2px 3px;
position: absolute;
top:-2px;
line-height:normal;
}

.new-tags{
background: #f75d34 none repeat scroll 0 0;
color: #fff;
font-family: arial;
font-size: 11px;
padding: 2px 3px;
line-height:normal;
}

.delivery-icon .icon{
background:#585b6e;
padding:17px;
color:#fff;
font-size:29px;
}

.rounded{
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; 
-khtml-border-radius: 2px;
}

.row-with-pad{
padding-top:5px;
padding-bottom:5px;
}
.new-orders .list__item{
line-height:normal;
padding:0 3px;
padding-right:10px;
}

/*.new-orders .list__item:nth-child(odd) {
background:#F0EBEB;
}*/

.orange-text{
color:#f75d34;
}

.new-orders .orange-text{
/*bottom: 7px;
position: absolute;
right: 10px;*/
}

.new-orders .orange-text .icon{
vertical-align: -10%;
}

.new-orders .status .icon,
.status .icon
{
/*color:#EEC65A;*/
color:#f75d34;
}

.new-orders .status .icon.icon-green,
.status .icon.icon-green,
.new-orders .status .icon.icon-red,
.icon.icon-red,
.icon.icon-orange
{
color:#00b279;
vertical-align:-5%;
}

.new-orders .status .icon.icon-red,
.icon.icon-red
{
color:#f75d34;
}

.icon.icon-orange,
.new-orders .icon.icon-orange
{
color:#EFC861;
}

.new-orders price{
margin:8px 0;
display:block;
}

/*fixed noty */
.noty_bar.noty_type_error{
background:#666;
color:#fff;
font-family: arial;
font-size:14px;
}

#noty_bottomCenter_layout_container{
width:75% !important;
}

#noty_bottomCenter_layout_container .animated
{
width:100% !important;
border:none !important;
border-radius: 10px !important;
margin-bottom: 50px !important;
}

.noty_message .noty_text{
font-weight:normal !important;
}
/*fixed noty */

#page-home .tab-bar .ons-icon,
#page-home .tab-bar .tab-bar__button,  
#page-bookingHome .tab-bar .ons-icon,
#page-bookingHome .tab-bar .tab-bar__button
{
color:#fff;
}

#page-home :checked + .tab-bar__button,
#page-bookingHome :checked + .tab-bar__button
{
background:#585B6E;
/*background:#00ACE3;*/
}

#page-home .tab-bar--top,
#page-bookingHome .tab-bar--top
{
border-bottom:none;
}

.order-details .header {
color:#666;
font-weight:bold;
padding:5px 15px;
}

.order-details .list__item,
.order-details .list__item a
{
color:#666;
font-weight:normal;
font-size:14px;
}

#order-details-item,
.order-details .wrapper,
.frm-acceptorder p,
.frm-acceptorder .button,
.changepass-msg,
.frm-changepassword .button,
.frm-profile .button
{
margin-top:20px;
}

.order-details .button{
width:90%;
margin:auto;
font-size:14px;
}

.fixed-col{
padding-top:10px;
padding-bottom:10px;
line-height:normal;
}

.normal-height{
line-height:normal;
}

#location-map{
}

.tabs .tabicon{
font-size:28px;
position:relative;
z-index:9999;
position:absolute;
top:5px;
width:100%;
text-align:center;
margin:0;
padding:0;
line-height:normal;
left:0;
}
.tabs p{
font-family:arial;
margin:0;
padding:0;
font-size:10px;
line-height:normal;
position:absolute;
z-index:999999;
bottom:1px;
width:100%;
text-align:center;
}

#notification .col,
.list-normal .col
{
font-size:13px;
color:#666;
font-family:arial;
}

#notification  .list__item,
.list-normal .list__item
{
min-height:inherit;
line-height:normal;
}

#page-tablePending p.status,
#page-tableAll p.status
{
padding:0;
margin:0;
}
.margin2{
margin:2px;
line-height:1;
}


#map_canvas_div
{
height:100px;
width:100%;
}

.page__background.page--map-page__background{
background:rgba(0,0,0,0) !important;
}


.myloader {
  margin: 10px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(247,93,52, 0.2);
  border-right: 1.1em solid rgba(247,93,52, 0.2);
  border-bottom: 1.1em solid rgba(247,93,52, 0.2);
  border-left: 1.1em solid #f75d34;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.myloader,
.myloader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.status.margin2{
color:#fff;
padding:2px 5px !important;
display:table;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; 
-khtml-border-radius: 2px;
background:#f75d34;
}

.status.cancelled,
.status.declined,
.status.decline,
<<<<<<< HEAD
.status.denied  
=======
.status.denied,
.status.approved,
.status.delivered,
.status.embalando,
.status.preparando,
>>>>>>> 4967997945cf8f264730ed42343d003087cffe72
{
background:#e53935;
}
.status.successful,
.status.paid,
.status.approved,
.status.delivered 
{
background:#2c9f2c;
}
.status.pending
{
background:#f75d34;
}
.status.accepted,
.status.acknowledged
{
background:#33a17e ;
}
.status.started 
{
background:#ba68c8;
}
.status.inprogress  
{
background:#cc66ff;
}

.map-bottom-wrapper{
position:absolute;
left:0;
bottom:0;
padding:2px;
padding-top:7px;
width:99%;
display:none;
background:#fff;
}

._driver_name
{
font-size:16px;
margin:0;
padding:0;
font-weight:normal;
}

.page__background.page--getsettings__background
{
background:#f75d34;
}

.page__background.page--page-slidingmenu__background{
background:rgba(0,0,0,0) !important;
}

.main-getsettings{
margin: 40% auto auto;
max-width: 70%;
}

.main-getsettings img{
width:100%;
height:auto;
}

.retry-language{
display:none;
}

.icon-green{
font-size:30px;
}

.auto-login-wrap{
margin:40px 20px;
margin-top:100px;
font-family: 'Open Sans',sans-serif;
text-align:center;
font-size: 14px;
display:none;
}


/*FIXED ORDER LIST CSS*/

.item-order-list,
.summary-wrap
{
margin:auto;
font-size: 14px;
padding:0 10px;
}

.item-order-list {
border-bottom:1px solid #d8d8d8;
padding-top:8px;
}
.summary-wrap{
padding-top:8px;
padding-bottom:8px;
}

.item-order-list .a,
.item-order-list .b
{
float:left;
}
.item-order-list p{
margin:0;
}

.item-order-list .a{
padding-right:8px;
}

.item-order-list .b.uk-text-success{
font-weight:bold;
}

.item-order-list .manage{
float:right;
}

.clear{
clear:both;
}

.item-order-list .row,
.summary-wrap .row,
{
display:table;
width:100%;
}
.item-order-list .row .col-md-6,
.summary-wrap .row .col-md-6
{
display:table-cell;
width:50%;
}

/*FIXED ORDER LIST CSS*/
